<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <array>
    <array>
      <string>public.default</string>
      <string>glyphs</string>
    </array>
    <array>
      <string>Oct 24 18, 16:19</string>
      <string>glyphs.O_ct 24 18, 16_19</string>
    </array>
    <array>
      <string>Oct 24 18, 16:21</string>
      <string>glyphs.O_ct 24 18, 16_21</string>
    </array>
    <array>
      <string>Oct 24 18, 16:22</string>
      <string>glyphs.O_ct 24 18, 16_22</string>
    </array>
    <array>
      <string>Oct 24 18, 16:23</string>
      <string>glyphs.O_ct 24 18, 16_23</string>
    </array>
    <array>
      <string>Oct 24 18, 16:24</string>
      <string>glyphs.O_ct 24 18, 16_24</string>
    </array>
    <array>
      <string>Oct 24 18, 16:25</string>
      <string>glyphs.O_ct 24 18, 16_25</string>
    </array>
    <array>
      <string>Oct 24 18, 16:27</string>
      <string>glyphs.O_ct 24 18, 16_27</string>
    </array>
    <array>
      <string>Oct 24 18, 16:28</string>
      <string>glyphs.O_ct 24 18, 16_28</string>
    </array>
  </array>
</plist>
